# frontend build artifacts
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/.vercel/

# env files
frontend/.env*

# logs
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# system files
.DS_Store
